.container {
  border: 1px solid #dadde1;
  margin-top: 50px;
  max-width: 50%;
}
img {
  position: relative;
  top: -24px;
}
.row {
  text-align: center;
}
.citySection,
.wind,
.humidity {
  line-height: 10px;
}
small {
  display: block;
  text-align: center;
  margin-top: 10px;
}
