.app {
  max-width: 600px;
  margin: 50px auto;
}
.container {
  border: 1px solid #dadde1;
}
img {
  position: relative;
  top: -10px;
}

.citySection,
.wind,
.humidity {
  line-height: 10px;
}
small {
  display: block;
  text-align: center;
  margin-top: 10px;
}
.temperature {
  display: inline;
}
