.app {
  max-width: 600px;
  margin: 50px auto;
}
.container {
  border: 1px solid #dadde1;
}
body {
  color: black;
}

.citySection,
.wind,
.humidity {
  line-height: 10px;
  color: gray;
}
small {
  display: block;
  text-align: center;
  margin-top: 10px;
}
.weatherinfo {
  margin-bottom: 20px;
}
.temperature {
  font-size: 50px;
}
.units {
  font-size: 20px;
  position: relative;
  top: -20px;
}
.units a {
  text-decoration: none;
}
.forecast {
  background-color: #caf0f86c;
  margin-bottom: 15px;

  padding: 10px;
}
.temperatureMin {
  color: gray;
}
